@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');


:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body{
    margin: 0px;
    display: block;
}

h1,
h2 {
    font-family: 'Italiana', sans-serif;
    color: black;
    font-weight: 300;
}

h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    color: #444444;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    width: 95%;
    margin: 0px auto;
}

.sectionBlock{
    padding: 40px 0px;
}

/* loader  */

#nprogress{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    transition: .3s ease;
  }
  
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: calc(50% - 30px)  !important;
    right: calc(50% - 30px)  !important;
  }

  #nprogress .bar{
    background: #ac9873 !important;
  }
  
  #nprogress .spinner-icon {
    width: 60px !important;
    height: 60px !important;
    border: solid 2px transparent !important;
    border-top-color: #ac9873 !important;
    border-left-color: #ac9873 !important
  }



/* Header */

header {
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    transition: .3s ease;
    background: transparent;
    background-image: url(/head.png);
    background-position: center;
    background-size: cover
}

.headerContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0px;
}

.siteNav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    justify-content: space-between;
}

.siteNav ul li a{
    padding: 5px;
    color: black;
}

.siteIdentity h1{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

.siteIdentity h1 span{
    text-align: center;
}

.siteIdentity h1 img{
    margin: 0px auto;
    display: block;
}


/* Home Page  */

.heroImage {
    width: 100%;
    height: 300px;
}

.introText p{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.introText p .date {
    font-size: 2rem;
}

.ourStory {
    background: #f2eae4;
    text-align: center;
}