@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');


:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body{
    margin: 0px;
    display: block;
    font-size: 1.2rem;
}

h1,
h2 {
    font-family: 'Italiana', sans-serif;
    color: black;
    font-weight: 300;
}

h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    color: #444444;
}

a {
    text-decoration: underline;
    color: blue;
}

.container {
    max-width: 1400px;
    width: 95%;
    margin: 0px auto;
}

.sectionBlock{
    padding: 40px 0px;
}

.colorBackground {
    background: #f2eae4;
}

/* loader  */

#nprogress{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    transition: .3s ease;
  }
  
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: calc(50% - 30px)  !important;
    right: calc(50% - 30px)  !important;
  }

  #nprogress .bar{
    background: #ac9873 !important;
  }
  
  #nprogress .spinner-icon {
    width: 60px !important;
    height: 60px !important;
    border: solid 2px transparent !important;
    border-top-color: #ac9873 !important;
    border-left-color: #ac9873 !important
  }



/* Header */

header {
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    transition: .3s ease;
    background: transparent;
    background-image: url(/head.png);
    background-position: center;
    background-size: cover
}

.headerContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0px;
}

.siteNav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    justify-content: space-between;
}

.siteNav ul li a{
    padding: 5px;
    color: black;
    text-decoration: none;
}

.siteIdentity h1{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

.siteIdentity h1 span{
    text-align: center;
}

.siteIdentity h1 img{
    margin: 0px auto;
    display: block;
}


/* Home Page  */

.heroImage {
    width: 100%;
    height: 400px;
}

.introText p{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.introText p .date {
    font-size: 2rem;
}

.ourStory {
    background: #f2eae4;
    text-align: center;
}


/* RSVP Page  */

.codeEntry {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.codeEntry h2{
    font-size: 2rem;
}

.codeEntry input{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 3px solid #444;
}

.codeEntry input,
.codeEntry button{
    width: 70%;
    margin: 0px auto;
    font-weight: 700;
    color: #444;
    border-radius: 8px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.codeEntry button,
.confirmForm button{
    padding: 10px;
    font-size: 18px;
    background: white;
    color: #ac9873;
    border: 3px solid #ac9873;
}

.confirmForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.confirmForm h2{
    font-size: 2rem;
    padding: 0px 20px;
}

.confirmForm label{
    margin: 20px 0px;
}

.confirmForm input,
.confirmForm textarea{
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #444;
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    background: transparent;
}

.primaryGuest{
    display: flex;
    flex-direction: column;
}

.primaryGuest #name{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 20px;
}

.guestsSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guestsSection .guest{
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    border: 1px solid #eee;
    padding: 0px 20px;
    border-radius: 8px;
}

.guestsSection .guest h3{
    margin-bottom: 0px;
}

.guestsSection label{
    margin-top: 0px;
}

.formAcceptance{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formAcceptance button{
    background: #ac9873;
    color: white;
    border: none;
    padding: 20px 10px;
}

.formAcceptance button:last-child{
    background: #ddd;
    color: black;
    border: none;
}

/* Footer  */

footer{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    margin-top: 40px;
}

footer h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
}

.footerNav ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
    justify-content: center;
}

.footerNav ul li{
    padding: 10px;
}

.footerNav ul li a{
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.copyright{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #fff;
    padding: 20px 0px;
    color: black;
    font-size: .8rem;
}

.copyright span{
    display: block;
    opacity: .5;
}

/* Event Info Page  */

/* Directions */

#directions {
    text-align: center;
}

#directions ul {
    text-align: left;
}

.directionsBtn {
    color: white;
    background: #ac9873;
    display: block;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
}

/* Schedule */

#schedule {
    text-align: center;

}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    width: 100%;
    margin: 0px auto;
    font-size: 1.25rem;
}

.time {
    font-weight: 700;
}
/* song reqest   */

#songRequest {
    text-align: center;
}

.songReqForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.songReqRow {
    display: flex;
    background: white;
    max-width: 350px;
    margin: 0px auto;
}

.songReqRow input{
    background: transparent;
    border: 2px solid #aaa;;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.songReqRow input:first-child{
    border-right: none;
}

.songReqRow input:last-child{
    border-left: none;
}

.songReqRow span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: #aaa;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}

.songReqForm label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    max-width: 400px; 
    margin: 0px auto;
}

.songReqForm label input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: center;
}

.songReqForm .submitBtn{
    background: #ac9873;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
}

#giftNotice {
    text-align: center;
}

#faqsIntro{
    text-align: center;
}

#faqs{
    text-align: center;
}

#faqs ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#faqs ul li{
    border-bottom: 1px solid #ac9873;
}

.btn {
    background: #ac9873;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;

}

#intro{
    text-align: center;
}

#schedule h2{
    text-align: center;
}

#schedule{
    text-align: left;
}